# Node modules
node_modules

# Environment variables
.env

# Generated Prisma client
/src/generated/prisma

# Vercel build artifacts
.vercel

# Logs folder inside src, keep folder but ignore its contents
/src/logs/*
!/src/logs/.gitkeep

/logs
