# Node modules
node_modules

# Environment variables
.env

# Generated Prisma client
/src/generated/prisma

# Vercel build artifacts
.vercel

# Logs folder itself, but keep it in repo
logs/*
!logs/.gitkeep